<div id="directions" hidden style="padding-bottom: 60px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="text-align: center;">
				<h2 class="header-directions">Directions </h2>
				<div class="col-sm-6" style="display: inline-block;">
					<h3>Ceremony</h3>
					<div>
						<strong>Holy Martyrs Catholic Church </strong> <br>
						39022 Sky Canyon Dr. <br>
						Murrieta, CA 92563
					</div>
					<div id="mapCeremony"></div>
				</div>
				<div class="col-sm-6" style="display: inline-block;">
					<h3>Reception</h3>

					<div>
						<strong>Perez Family Household</strong> <br>
						37635 Remuda Dr. <br>
						Temecula, CA 92592
					</div>
					<div id="mapReception"></div>
				</div>
				</div>
		</div>
	</div>
</div>