<script src="/assets/javascripts/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

<script src="/assets/javascripts/bootstrap.min.js"></script>

<script type="text/javascript">

    // Insert current year for Copyright
    $(function(){
        var theYear = new Date().getFullYear();
        document.getElementById("year").innerHTML = theYear;
    });

	
</script>