<div id="passwordRow" style="padding-top: 20px;" class="row col-sm-offset-3 col-sm-6">
    <form class="form-inline" id="password">
        <div class="input-group">
          <input type="text" class="form-control password-text" placeholder="Invitation Code">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Submit</button>
          </span>
        </div><!-- /input-group -->
        <div style="top:5px;" class="input-group">
            <ul class="list-inline">
                <li><a style="color: #555;" href="#" title="Rsvp Info" data-toggle="popover" data-placement="right" data-content="Invitation code can be found on your invitation card">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a></li>
            </ul>
        </div>
    </form>
</div>