
<div class="container" style="padding-top:60px; padding-bottom: 60px;">
  <div class="container" style="font-size: 20px;font-weight: 300;">
  	<h3 style="font-size:55px;">Dear Family & Friends,</h3>
  	<br>
	<p>We want to thank you all so much for all of the love and support you have shown both of us throughout our time together. It is with sad and heavy hearts we tell you that do to some personal family business we have had to postpone the wedding on Saturday February 9th 2019. We will still be getting this year <i>(hopefully)</i> sometime in July - September 2019. We will make sure to keep you all posted on the new wedding date as we figure out what would be best. We ask that you keep us and our families in prayer during this time.</p>
	<br>
	<p>Thank you all again for all your love and support. You all have a special place in our hearts and are in our prayers.</p>
	<br>
	<p>God Bless,</p>
	<p>Austin & Hayden &#x2764;&#xFE0F;</p>
  </div>
</div>